<h1>index</h1>
<h1> indexes</h1> 

<table>
<thread>  
<tr>


    <th>Name</th>
    <th>place</th>
    <th>age</th>
    <% @feedbackform.each do |feed| %>
        <td><%=feedbackform.name%></td>
<td><%=feedbackform.place%></td>

<td><%=feedbackform.age%></td>

</tr>
<% end %> 
</tbody>



</table>