<!-- app/views/products/show.html.erb -->

<h1>Product Details</h1>

<dl>
  <dt>Name:</dt>
  <dd><%= @product.name %></dd>

  <dt>Description:</dt>
  <dd><%= @product.description %></dd>
</dl>

<%= link_to "Edit Product", edit_product_path(@product) %>
<%= link_to "Back to Products", products_path %>
