// color
$primary-color: #0494fe;
$primary-text-color: #262e38;

$select-border-color: #000;
$color_follow_save_content: #000000; // Placeholder color
$color_dark: #000000; // Placeholder color
$sticky_feedback_blue: #007bff; // Placeholder color
$placeholder-color: #000000;
$input-border-color: #ccc;

$scroll-bar-color: #bec8d6;
$color-white: #fff;
$color-black: #000;
$color-red: #bc3434;
$color-alert: #dc3545;
$color-text-orange: #f0982d;
$color-border-light: #8d99ab;
$color-peach-orange: #f9cb9a;
$color-background-light: #f3f5f8;
$color-underline: #f0f0f0;
$color-select-option: #6b7683;
$color-select-placeholder: #848da0;
$color-panel-border: #dee2e6;
$color-primary-facet: #697684;
$color-secondary-facet: #e2ebf6;
$color-box-shadow-grey: #e5e5e5;
$color-beta-tag: #8e99a8;
$color-bright-gray: #ebf0f7;
$color-bright-gray2: #ebeef0;
$color-bright-gray3: #eaeaea;
$color-dim-gray: #6e6b6b;
$color-arsenic: #3b424a;
$color-silver-sand: #b6bec7;
$color-eerie-black: #181d1f;
$color-spanish-gray: #999999;
$color-eggshell: #e3f2d3;
$color-required: #ff6a5e;
$color-ghost-white: #f6f9fb;
$color-license-background: #f6f9fb;
$color-license-background-text: #f2f5f8;
$color-license-background-text-secondary: #777777;
$color-ghost-white: #f6f9fb;
$color-metallic-bronze: #ac8a51;
$color-alabaster: #f4efe6;
$color-range-white: #deeffd;
$color-range-dark: #354052;
$color-multiselect-choice: #323c47;
$color-anti-flash-white: #eff2f5;
$color-anti-flash-grey: #f1f5f8;
$color-silver-sand: #b5bdc9;
$color-cultured: #f8f8f8;
$color-arrow: #bec7d1;
$color_sunset_orange: #ff5555;
$color_palm_heart_cream: #ddd;
$qtip-bg: #5a6574;
$sticky_feedback_blue: #0494fe;
$color_mediumgray11: #666666;
$color_mediumgray12: #6f6f6f;
$color_assets_accordion_background: #ceedff;
$color_disable_bg: #eee;
$color_ghost_white: #f7faff;
$color_lavender: #cce7ff;
$color-frost-blue: #d3eaff;
$color-gainsboro: #e6e6e6;
$color-rpx-member-notice-blue: #ceeaff;
$box-shadow-facet: #0000001a;
$color_floral_white: #fefbed;
$color-pale-grey: #f2f5f8;
$color_select2_chosen: #7f8fa4;
$sticky_feedback_blue: #0494fe;
$color-grey-option: #484848;
$color-azure: #0294ff;
$fast-fact-border: #f2f2f2;
$color-charcoal: #33485d;
$color-alice-blue: #f4f9ff;
$color-water-blue: #d9ecff;
$color-metallic-silver: #a8abaf;


// font family  //
$font-family-regular: "proxima_nova_regular";
$font-family-bold: "proxima_nova_bold";
$font-family-light: "proxima_nova_light";
$font-family-semibold: "proxima_nova_semibold";
$font-family-semibold-condensed: "proxima_nova_cn_semibold";

// font size //
$xxxx2-large: 52px;
$xxxx-large: 50px;
$xxx6-large: 46px;
$xxx4-large: 44px;
$xxx2-large: 42px;
$xx5-large: 35px;
$xx2-large: 32px;
$xx-large: 30px;
$x8-large: 28px;
$x4-large: 24px;
$x2-large: 22px;
$x-large: 20px;
$large: 18px;
$normal: 16px;
$x-medium: 15px;
$medium: 14px;
$small: 12px;
$x-small: 13px;
$tiny: 11px;
$tiny-small: 10px;
