<div class="s132">
<form>
  <div class="inner-form">
  
    <div class="input-field second-wrap">
      <input id="search" type="text" placeholder="Enter Keywords" />
    </div>
    <div class="input-field third-wrap">
      <button class="btn-search" type="button">Search</button>
    </div>
    <div class="space"></div>

    <div class="input-field third-wrap">
    <%= link_to personal_path do %>
      <button class="btn-search" type="button">Add form</button>
    <% end %>
  </div>
  
  </div>
</form>
</div>