



<form id="chartForm">
<label for="values">Enter 5 values (comma-separated):</label>
<input type="text" id="values" name="values" required>
<button type="submit">Create Chart</button>
</form>

<div id="lineChart" style="height: 300px;"></div>
<div id="barChart" style="height: 300px;"></div>
<div id="pieChart" style="height: 300px;"></div>
<div id="areaChart" style="height: 300px;"></div>
<div id="columnChart" style="height: 300px;"></div>
<div id="scatterPlot" style="height: 300px;"></div>
<div id="bubbleChart" style="height: 300px;"></div>

<div id="options">
<label>Show/Hide Charts:</label>
<input type="checkbox" id="showLine" checked>
<label for="showLine">Line Chart</label>
<input type="checkbox" id="showBar" checked>
<label for="showBar">Bar Chart</label>
<input type="checkbox" id="showPie" checked>
<label for="showPie">Pie Chart</label>
<input type="checkbox" id="showArea" checked>
<label for="showArea">Area Chart</label>
<input type="checkbox" id="showColumn" checked>
<label for="showColumn">Column Chart</label>
<input type="checkbox" id="showScatter" checked>
<label for="showScatter">Scatter Plot</label>
<input type="checkbox" id="showBubble" checked>
<label for="showBubble">Bubble Chart</label>
</div>

